body {
  font-family: RobotoBasic,Roboto,Helvetica,Arial,sans-serif;
  color: $font-color--dark;
  background-color: $background--light;
  margin: $no-space;
}


h2, span, div {
	font-family: RobotoBasic,Roboto,Helvetica,Arial,sans-serif;
}

a {
	cursor: pointer;
}

// For testing purposes
// div {
// 	border: 1px dotted red;
// }