.clients {
	width: 100%;


	&__blurb {
		padding: 1rem;
		span {
			color: #3F76F2;
			opacity: 0.9;
			font-size: 1rem;
		}
	}


	ul {
		display: flex;
		list-style: none;
		padding: 0;
		li {
			flex: 1;
			img {
				height: 50px;
			}
		}
	}
}