.extra {

	&__section1 {
		align-items: center;
		display: flex;
		flex-flow: column;
		padding: 0 12vw;

		h2 {
			font-size: 1.8rem;
			font-weight: 600;
			text-align: center;

		}
		p {
			color: #717B8A;
			font-size: 1.2rem;
			font-weight: 400;
			padding: 0;
			margin-bottom: 3rem;
		}

	}

	&__section2 {
		display: flex;
	}


	&__presentation {
		flex: 3;
		padding: 0 15px;

		img {
			width: 100%;
		}
	}

	&__info {
		display: flex;
		align-items: center;
		flex: 2;
		padding: 0 15px;

		.e {
			&__container {
				display: flex;
				flex-flow: column;
				padding-top: 3rem;
			}

			&__title {
				
				h1 {
					margin: 0 0 25px;
					color: $brand;
					font-size: 3rem;
					font-weight: 300;
				}
			}

			&__details {
				
				span {
					font-weight: 100;
				}
			}

			&__more {
				display: flex;
				flex-wrap: wrap;
				&Anchor {
					display: flex;
					width: 33%;
					flex-flow: column;
					align-items: center;
					
					margin: 0 0 1.5rem; 
					text-decoration: none;

					img {
						height: 30px;
					}

					p {

						margin: 0;
						font-size: 14px;
						text-align: center;
					}
				}
			}

		}
	}
}

@media only screen and (max-width: 800px) {
	.extra {
		&__section2 {
			flex-flow: column;
		}

		&__info {

			.e {
				&__title {
					text-align: center;
				}

				&__details {
					padding: 0 12vw;
				}
			}
		}
	}
	
}