.footer {

	&__findMore {
		
		h3 {
			font-size: 2rem;
			font-family: RobotoBasic,Roboto,Helvetica,Arial,sans-serif;
			font-weight: 300;
			color: #2b6cec;

		}

		&-btn {
			padding: 2rem 0 5rem;
		}
		a {
			background-color: #2b6cec;
			color: #fff;
			padding: 15px;
			border-radius: 5px;
			opacity: 0.85;
			text-decoration: none;
		}
	}

	&__terms {
		max-height: 100px;
		background: #f0f4ff;
		border-top: 1px solid #9e9e9e;

		overflow: hidden;

		&-logo {
			float: left;
			img {
				height: -webkit-fill-available;
				padding: 1.3rem
			}
		}

		&-privacy {
			align-items: center;
			float: right;
			display: flex;

			height: -webkit-fill-available;

			a {
				color: #2b6cec;
				font-size: 1rem;
				text-decoration: none;
				padding-left: 2rem;
			}
		}
	}
}




// mixin
@mixin angle($pseudo, $flip: false, $angle: 1.5deg) {
  // Possible values for $pseudo are: before, after, both
  @if $pseudo == 'before' or $pseudo == 'after' or $pseudo == 'both' {
    position: relative;
    z-index: 1;
    $selector: if($pseudo == 'both', '&:before,&:after', '&:#{$pseudo}');

    #{$selector} {
      background: inherit;
      content: '';
      display: block;
      height: 50%;
      left: 0;
      position: absolute;
      right: 0;
      z-index: -1;
      -webkit-backface-visibility: hidden; // for Chrome Windows
    }

    @if $pseudo == 'before' {
      #{$selector} {
        top: 0;
		margin-left: -1px;

        @if $flip {
          transform: skewY($angle * -2);
          transform-origin: 0 0;
        } @else {
          transform: skewY($angle);
          transform-origin: 100% 0;
        }
      }
    }
    
  }
}

// slanted edges here


.edge--top {
  @include angle(before);
}


.-orange {
  background: #f0f4ff;
}

// demo code below
.block {
  color: #fff;
  font-family: 'Fira Sans', sans-serif;
  padding: 10px 40px 0;
  margin-top: 5rem;
  text-align: center;
}
