header {
  height: 60px;
  display: flex;
  flex-flow: row;
  padding: 1rem 2rem;
  position: absolute;
  z-index: 2;
}

.header {
	&__logo {
		flex: 1;
		cursor: pointer;
		img {
			height: -webkit-fill-available;
		}
	}
}