.landing {
	
	&__main {
	
		
	}
	&__section1 {
		display: flex;
		min-height: 600px;
	}

	&__section4 {
		display: flex;
		min-height: 300px;
	}

	
}







// MEDIA Query
@media(max-width: 700px) {
	.landing {
		&__bg {
			&Left, &Right {
				display: none;
			}
		}
	}
}



